@import url('https://fonts.googleapis.com/css2?family=Exo+2:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

body {
    font-family: 'Exo 2', sans-serif;
}

.header_row {
    color: rgb(138, 27, 13);
    font-weight: bold;
    text-align: center;
}

#answer1 {
    background-color: rgb(255, 144, 110);
    color: white;
}

#answer2 {
    background-color: rgb(248, 80, 80);
    color: white;
}

#questionField {
    width: 800px;
    background-color: rgb(233, 233, 233);
}

#gameStatusField {
    text-align: center;
    font-size: 18px;
    font-weight: bold;
    color: rgb(248, 80, 80);
    width: 800px;

}

.timer-output{
    font-family: 'Share Tech Mono', monospace;
    width: 300px;
    color: rgb(7, 77, 80);
    padding: 16px 8px;
    font-size: 74px;
    text-align: center;
    line-height: 1;
    user-select: none;
}

.timer-output-wrapper{
    width: calc(100% - 24px);
    display: flex;
    flex-direction: row;
    align-content: center;
    justify-content: center;
    margin: 12px;
}

#startStop {
    width: 200px;
    margin-top: 60px;
    position: absolute;
    left: 38%;
}
